<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjh.dao.CaseInfoMapper">
    <select id="querycaseinfo" resultType="CaseInfo" >  
         SELECT * FROM `caseinfo` 
           <where>
         	<if test = "id!='' and id !=null" > and caseid = #{id}</if>
         	<if test = "element!='' and element !=null" > and element = #{element}</if>
         	<if test = "element!='' and element !=null" >  
         	and  caseid in 
         	<foreach collection="caseId" item="caseId" open="(" close=")" separator=",">  
   					#{caseId}  
  			</foreach></if>
         	
         </where>
    </select>
    
    
        <select id="queryPageIdByCaseId" resultType="CaseInfo" >  
        select  DISTINCT 'pageid' from 'caseinfo'
           <where>
         	<if test = "id!='' and id !=null" > and caseid = #{id}</if>
         </where>
    </select>
</mapper>