<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjh.dao.CaseInfoMapper">
    <select id="querycaseinfo" resultType="CaseInfo" >  
         SELECT * FROM `caseinfo` 
           <where>
         	<if test = "id!='' and id !=null" > and caseid = #{id}</if>
         	<if test = "element!='' and element !=null" > and element = #{element}</if>
         </where>
    </select>
</mapper>