<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjh.dao.UserMapper">
    <!-- 查询所有person -->  
    <select id="queryAllUsers" resultType="User" >  
         SELECT * from pro01_user  
         <where>
         	<if test="deptId!=null and deptId!=''">and deptId =#{deptId}</if>
         </where>
    </select>
    <insert id="insert"  >
     <selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    </selectKey>  
    INSERT INTO pro01_user(id,name,sex,telehone,idCord,deptId) values(#{id},#{name},#{sex},#{telehone},#{idCord},#{deptId})
    </insert>
    
    <update id="update" >
    update pro01_user set name=#{name},sex=#{sex} where id=#{id}
    </update>
</mapper>